.container {
  padding: 16px;
  // margin: -50px 0;
  min-height: 200px;
  position: relative;
  // background-image: url('/static/images/pacman-ghost.svg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 70% center;

  display: flex;
  justify-content: center;
  align-items: center;
}

.quote {
  max-width: 500px;
  margin: 0 auto;

  font-family: Zilla Slab;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 38px;
  color: var(--cool-grey-800);

  span {
    color: var(--primaries-500);
  }
}

@media screen and (min-width: 800px) {
  .container {
    padding: 32px;
    // margin: -200px 0;
    min-height: 600px;
  }
  .quote {
    font-size: 50px;
    line-height: 58px;
    max-width: 600px;
  }
}
