.container {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 8px;
  padding: 16px 0;
}
.a {
  display: flex;
  align-items: center;
}
.text {
  padding-left: 12px;
  color: var(--primaries-700);
  font-family: var(--font-header);
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
}
.text,
.icon {
  margin: 4px;
}
@media screen and (min-width: 420px) {
  .container {
    grid-template-columns: 1fr 1fr;
    // grid-template-columns: auto auto;
    // justify-content: center;
  }
}

@media screen and (min-width: 800px) {
  .container {
    // display: none;
  }
}
