/* fira-sans-extra-condensed-700 - latin */
@font-face {
  font-family: 'Fira Sans Extra Condensed';
  font-style: normal;
  font-weight: 700;
  src: url('/static/fonts/fira-sans-extra-condensed-v4-latin/fira-sans-extra-condensed-v4-latin-700.eot'); /* IE9 Compat Modes */
  src: local('Fira Sans Extra Condensed Bold'),
    local('FiraSansExtraCondensed-Bold'),
    url('/static/fonts/fira-sans-extra-condensed-v4-latin/fira-sans-extra-condensed-v4-latin-700.eot?#iefix')
      format('embedded-opentype'),
    /* IE6-IE8 */
      url('/static/fonts/fira-sans-extra-condensed-v4-latin/fira-sans-extra-condensed-v4-latin-700.woff2')
      format('woff2'),
    /* Super Modern Browsers */
      url('/static/fonts/fira-sans-extra-condensed-v4-latin/fira-sans-extra-condensed-v4-latin-700.woff')
      format('woff'),
    /* Modern Browsers */
      url('/static/fonts/fira-sans-extra-condensed-v4-latin/fira-sans-extra-condensed-v4-latin-700.ttf')
      format('truetype'),
    /* Safari, Android, iOS */
      url('/static/fonts/fira-sans-extra-condensed-v4-latin/fira-sans-extra-condensed-v4-latin-700.svg#FiraSansExtraCondensed')
      format('svg'); /* Legacy iOS */
}
